[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
beautifulsoup4 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
constantly = "*"
cryptography = "*"
cssselect = "*"
cycler = "*"
gunicorn = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
itemadapter = "*"
itemloaders = "*"
itsdangerous = "*"
jmespath = "*"
kiwisolver = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
parsel = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pymongo = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
queuelib = "*"
requests = "*"
service-identity = "*"
six = "*"
soupsieve = "*"
urllib3 = "*"
w3lib = "*"
"zope.interface" = "*"
Automat = "*"
Flask = "*"
Flask-Cors = "*"
Flask-WTF = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
Protego = "*"
PyDispatcher = "*"
PyHamcrest = "*"
pyOpenSSL = "*"
Scrapy = "*"
Twisted = "*"
Werkzeug = "*"
WTForms = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.8"
