attrs
Automat
beautifulsoup4
certifi
cffi
chardet
click
constantly
cryptography
cssselect
cycler
Flask
Flask-Cors
Flask-WTF
gunicorn
hyperlink
idna
incremental
itemadapter
itemloaders
itsdangerous
Jinja2
jmespath
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
pandas
parsel
Pillow
Protego
pyasn1
pyasn1-modules
pycparser
PyDispatcher
PyHamcrest
pymongo
pyOpenSSL
pyparsing
python-dateutil
pytz
queuelib
requests
Scrapy
service-identity
six
soupsieve
Twisted
urllib3
w3lib
Werkzeug
WTForms
zope.interface
