{% extends "base.html" %}

{% block title %}Suivi des produits{% endblock %}

{% block content %}
    <h1>Suivi des produits</h1>
    <input type="text" id="search-input" placeholder="Recherchez un produit traqué" autocomplete="off">
    <div id="results"></div>
   

    <div id="product-popup">
        <div class="popup-content">
            <span id="popup-close" class="popup-close">&times;</span>
            <h2 id="popup-name"></h2>
            <img id="popup-image" alt="Product Image" />
            <div id="popup-price"></div>
            <canvas id="price-history-chart"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
